<footer class="mt-4 text-center">
    <hr>
    <div>
        <a href="https://gitlab.com/JetsadaWijit/npmjs" target="_blank">
            <img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" alt="GitLab Logo" width="40" height="40">
        </a>
        <p class="mt-2">
            <a href="https://gitlab.com/JetsadaWijit/npmjs" target="_blank" class="text-decoration-none fw-bold">Repository</a>
        </p>
    </div>
</footer>
