/* style.css */
body {
    font-family: sans-serif;
    margin: 40px;
}

header {
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

.explanation, .example-usage, .output {
    margin-top: 40px;
}

.explanation ul {
    list-style: disc;
    margin-left: 20px;
}

.example-usage pre, .output pre {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    font-family: monospace;
    overflow-x: auto;
}

.output {
    font-weight: bold;
}
